<h2>Who's Emily?</h2>

<p>
	I originally went to school for Applied Statistics, and after a year 
	and a half working, I realized that my favorite part of my job was 
	actually... programming. I started exploring other languages in my 
	free time: HTML, CSS, and Ruby. And once I started, I couldn't stop.
</p> 

<p>
	After several weeks, I realized I didn't have the resources to learn
	as quickly as I wanted to. And that's when I heard about 
	<%= link_to 'Code Academy', 'http://codeacademy.org/' %>, an intensive 
	11-week program to learn how to build database-backed web applications
	with Ruby on Rails.
</p>

<p>
	After nearing completion of 
	<%= link_to 'Code Academy', 'http://codeacademy.org/' %>, I'm beginning
	to feel the empowerment that comes from being able to build out dreams
	from scratch. Help me build your dreams.
</p>
