$black:#3B2E2A;
$purple:#3F0632;
$gold:#A47F1A;
$darkgold:#895F00;
$beige:#F6E6CE;
$lightpink:#FEF1E0;
$olive:#8B7325;

$lightblue:#8aaeae;
$greyblue:#497cbe;
$blue:#016a8E;
$darkblue:#012e3d;
$darkgreen:#75821b;
$green:#99a923;
$lightgreen:#ccba27;

$navbar_light:$lightgreen;
$navbar_dark:$green;
$navbar_border:$darkgreen;
$background_light:$lightblue;
$background_dark:$blue;

body {
	background:-webkit-radial-gradient($background_light,$background_dark);
	.container {
		font-family:futura;
		margin:20px auto;
		width:950px;
		background:aliceblue;
		border:1px solid darkslategrey;
		border-radius:8px;
		box-shadow:3px 4px 4px rgba(0, 0, 0, 0.25);
		header {
			height:35px;
			padding:20px 20px;
			h1 {
				font-weight:bold;
				float:left;
				font-size:35px;
				a {
					text-decoration:none;
					color:$blue;			
				}
				a:hover {
					color:purple;
				}
			}
			ul {
				float:right;
				li {
					float:left;
					a {
						margin-left:20px;
						font-size:20px;
						text-decoration:none;
						color:$blue;
					}
					a:hover {
						color:purple;
					}
				}
			}
		}
		nav {
			height:25px;
			padding:20px 20px;
			border-top:1px solid $navbar_border;
			border-bottom:1px solid $navbar_border;
			background:-webkit-linear-gradient(top, $navbar_light, $navbar_dark);
			li {
				float:left;
				margin-right:20px;
				a {
					font-size:25px;
					text-shadow:$darkgreen 2px 2px;
					color:white;
					text-decoration:none;
				}
				a:hover {
					color:purple;
				}
			}
		}
		.content {
			.notice {
				color:purple;
			}
			h2 {
				padding:30px 20px 10px;
				font-size:25px;
			}
			p {
				line-height:30px;
				padding:20px 20px;
				font-size:20px;
				a {
					text-decoration:none;
					color:$blue;
				}
				a:hover {
					color:purple;
				}
			}
			form {
				padding:20px 20px;
				input {
					border:1px solid $blue;
					border-radius:4px;
				}
				input, label {
					font-family:futura;
					padding:3px 2px;
					display:block;
					font-size:18px;
				}
				.button {
					border-radius:8px;
					border:1px solid $darkgreen;
					background:-webkit-linear-gradient(top, $lightgreen, $green);
					color:white;
					text-shadow:$darkgreen 2px 2px;
					padding:5px 10px;
				}
			}
		}
		footer {
			border-top:1px solid $blue;
			padding:20px 20px;
			p {
				margin:5px 0px;
				color:$lightblue;
				a {
					color:$blue;
					text-decoration:none;
				}
				a:hover {
					color:purple;
				}
			}
		}
	}
}