body {
	font-family:futura;
	padding:0px 250px;
	a {
		text-decoration:none;
		color:dodgerblue;
	}
	.notice {
		color:darkorange;
	}
	input, label {
		display:block;
		font-size:15px;
		font-family:futura;
	}
}